@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container {
  width: 90vw;
  display: flex;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 5rem;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 0.8rem;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 2rem;
  position: absolute;
  bottom: 1.8rem;
  left: 1.8rem;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
